<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery</title>
</head>
<body class="body" style="background-color: rgb(24, 24, 26); font-family:source sans pro,sans-serif;">
<div >
    <div style="padding: 30px 0; margin: 0 auto; max-width: 450px; color: white;">
        <div class="telephone">
            <div style=" border-radius: 40px;display: flex ; align-items: center;justify-content: center;">
                <div style="position: relative; width: 340px; height: 650px; filter: drop-shadow(0 0 30px #761cae) drop-shadow(0 0 40px #d67e63) drop-shadow(0 0 50px #f9c84c);">
                    <div style="position: absolute; top: 25px; left: 0; width: 100%; height: 100%; background: #e6e6e6; border-radius: 40px; ">
                        <div style="background: black; border-radius: 40px; width: 330px; height: 640px;margin: 5px 0px 0px 5px;">
                            <div style="background: white; border-radius: 40px; width: 320px; height: 630px;margin: 5px 0px 0px 5px;">
                                <div class="message-p" style="display: flex;">
                                    <div class="message" style="display: inline-flex;background: linear-gradient(200deg, #761cae, #d67e63);border-radius: 1rem;color: rgb(254, 234, 119);">
                                        <img src="https://tawkie.fr/images/logo-v1.2-lourd_hu825643b94366eada4084f15b03cc93e7_1411427_128x0_resize_q75_box_3.png" alt="Tawkie" class="Tawkimg" style="height: 50px;">
                                        Hi,
                                        please recover access to your account <br>by clicking the following link:
                                    </div>
                                </div>
                                <div class="lien-p" style="display: flex;margin-top: 250px;margin-left: 24%;">
                                    <a class="button" href="{{ .RecoveryURL }}" style="background-color: #feea77; color: #18181A; border-radius: 5px;padding: 10px 20px;">Recover account</a>
                                </div>
                                <div class="flexbx"style="margin-top: 260px;margin-left: 28%;">
                                    <a href="mailto:contact@tawkie.fr" style="color: black;">contact@tawkie.fr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
</body>