#:schema https://json.schemastore.org/traefik-v2-file-provider.json

[http.routers.hydra]
  rule = "Host(`{{ tawkie_hydra_host }}`)"
  service = "hydra"
  entryPoints = ["websecure"]

  [http.routers.hydra.tls]
    certResolver = "myresolver"

# Define how to reach an existing service on our infrastructure
[http.services.hydra.loadBalancer]
  [[http.services.hydra.loadBalancer.servers]]
    url = "http://tawkie-hydra:4444"
