#:schema https://json.schemastore.org/traefik-v2-file-provider.json

[http.routers.kratos-panel]
  rule = "Host(`{{ tawkie_panel_host }}`) && PathPrefix(`/panel`)"
  # If the rule matches, forward to the kratos-panel service (declared below)
  service = "kratos-panel"
  entryPoints = ["websecure"]
  middlewares = ["kratos-panel-rate-limit"]
  # Before staticapache2 but after kratos
  priority = 3

  [http.routers.kratos-panel.tls]
    certResolver = "myresolver"

[http.middlewares.kratos-panel-rate-limit.rateLimit]
  average = 1
  burst = 15
  period = "1s"

# Define how to reach an existing service on our infrastructure
[http.services.kratos-panel.loadBalancer]
  [[http.services.kratos-panel.loadBalancer.servers]]
    url = "http://tawkie-kratos-panel:3000"
