#:schema https://json.schemastore.org/traefik-v2-file-provider.json

[http.routers.staticapache2]
  rule = "(Host(`{{ tawkie_panel_host }}`) || Host(`www.{{ tawkie_panel_host }}`)) && !PathPrefix(`/panel`)"
  # If the rule matches, forward to the staticapache2 service (declared below)
  service = "staticapache2"
  entryPoints = ["websecure"]

  [http.routers.staticapache2.tls]
    certResolver = "myresolver"


# Define how to reach an existing service on our infrastructure
[http.services.staticapache2.loadBalancer]
  [[http.services.staticapache2.loadBalancer.servers]]
    url = "http://tawkie-staticapache2:80"
