#!/bin/bash

# Assumes update is successful
apt-get update

# Check for upgradable packages
upgradable_packages=$(apt list --upgradable 2>/dev/null | grep -v Listing | wc -l)

if [[ $upgradable_packages -gt 0 ]]; then
  # Send notification using ntfy
  curl \
    -H prio:default \
    -H tags:magnet \
    -d "${upgradable_packages} upgradable package(s) on {{ ansible_host }}" \
    {{ ntfy_apt_upgradable_url }}
fi
