#!/bin/bash
if [ "${PAM_TYPE}" = "open_session" ]; then
  curl \
    -H prio:default \
    -H tags:warning \
    -d "SSH login: ${PAM_USER} on {{ ansible_host }} from ${PAM_RHOST}" \
    {{ ntfy_ssh_login_url }}
fi
