#jinja2: lstrip_blocks: "True"
[Unit]
Description=Tawkie Wireguard Matrix admin API
After=network.target
Requires=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStartPre=-bash -c 'docker kill tawkie-wireguard-admin 2>/dev/null || true'
ExecStartPre=-bash -c 'docker rm tawkie-wireguard-admin 2>/dev/null || true'

ExecStart=docker run \
			--rm \
			--name tawkie-wireguard-admin \
			--log-driver=none \
			--cap-add=NET_ADMIN \
			--cap-add=SYS_MODULE \
			--network={{ tawkie_wireguard_admin_container_network }} \
			--publish {{ tawkie_wireguard_admin_listen_port }}:51820/udp \
	    --mount type=bind,src=/tawkie/wireguard-admin/wg0.conf,dst=/config/wg0.conf,ro \
	    {{ tawkie_wireguard_admin_docker_image }}

ExecStop=-bash -c 'docker kill tawkie-wireguard-admin 2>/dev/null || true'
ExecStop=-bash -c 'docker rm tawkie-wireguard-admin 2>/dev/null || true'
Restart=always
RestartSec=3
SyslogIdentifier=tawkie-wireguard-admin

[Install]
WantedBy=multi-user.target
