dsn: "{{ tawkie_hydra_postgres_uri }}"

urls:
  self:
#    issuer: http://127.0.0.1:4444
    issuer: {{ tawkie_hydra_urls_self_issuer }}
  consent: {{ tawkie_hydra_urls_consent }}
  login: {{ tawkie_hydra_urls_login }}
  logout: {{ tawkie_hydra_urls_logout }}

secrets:
  system:
    - {{ tawkie_hydra_secrets_system }}

oidc:
  subject_identifiers:
    supported_types:
      - pairwise
      - public
    pairwise:
      salt: {{ tawkie_hydra_oidc_subject_identifiers_pairwise_salt }}
