dsn: "{{ tawkie_hydra_postgres_uri }}"

urls:
  self:
    issuer: http://127.0.0.1:4444
  consent: http://127.0.0.1:3000/consent
  login: http://127.0.0.1:3000/login
  logout: http://127.0.0.1:3000/logout

secrets:
  system:
    - {{ tawkie_hydra_secrets_system }}

oidc:
  subject_identifiers:
    supported_types:
      - pairwise
      - public
    pairwise:
      salt: {{ tawkie_hydra_oidc_subject_identifiers_pairwise_salt }}
