#jinja2: lstrip_blocks: "True"
[Unit]
Description=Tawkie Kratos Panel
After=network.target
Requires=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStartPre=-bash -c 'docker kill tawkie-kratos-panel 2>/dev/null || true'
ExecStartPre=-bash -c 'docker rm tawkie-kratos-panel 2>/dev/null || true'

ExecStart=docker run \
			--rm \
			--name tawkie-kratos-panel \
			--log-driver=none \
			--cap-drop=ALL \
			--read-only \
			--tmpfs=/tmp:rw,noexec,nosuid,size=100m \
			--tmpfs=/run/kratos-panel:rw,noexec,nosuid,size=100m \
			--shm-size=128m \
			--user={{ tawkie_kratos_panel_uid }}:{{ tawkie_kratos_panel_gid }} \
			--network={{ tawkie_traefik_container_network }} \
			-e ORY_SDK_URL=http://tawkie-traefik:4433/ \
			-e KRATOS_PUBLIC_API=http://tawkie-kratos:4433/ \
			-e HYDRA_ADMIN_API=http://tawkie-hydra:4445/ \
			-e MATRIX_MATRIX_SIGNUP_API_URL=http://tawkie-matrix-signup:3000 \
			-e TAWKIE_DEFAULT_MATRIX_SERVER={{ tawkie_kratos_panel_default_matrix_server }} \
			-e AUTH_TOKEN={{ tawkie_kratos_panel_accept_user_token }} \
			-e MAX_USER_COUNT={{ tawkie_kratos_panel_max_user_count }} \
	    tawkie-kratos-panel 

ExecStop=-bash -c 'docker kill tawkie-kratos-panel 2>/dev/null || true'
ExecStop=-bash -c 'docker rm tawkie-kratos-panel 2>/dev/null || true'
Restart=always
RestartSec=3
SyslogIdentifier=tawkie-kratos-panel

[Install]
WantedBy=multi-user.target
